[defaults]
host_key_checking = False
inventory = ./inventory.ini
remote_user = ais
private_key_file = /var/lib/www-data/.ssh/id_rsa
local_tmp = /var/lib/www-data/.ansible/tmp
remote_tmp = /tmp/.ansible

[privilege_escalation]
become = yes
become_method = sudo
become_user = root
